<div id="<%= dom_id product %>">
  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= product.url %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= product.creator %>
  </p>

  <p>
    <strong>Created t:</strong>
    <%= product.created_t %>
  </p>

  <p>
    <strong>Created datetime:</strong>
    <%= product.created_datetime %>
  </p>

  <p>
    <strong>Last modified t:</strong>
    <%= product.last_modified_t %>
  </p>

  <p>
    <strong>Last modified datetime:</strong>
    <%= product.last_modified_datetime %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Generic name:</strong>
    <%= product.generic_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Packaging:</strong>
    <%= product.packaging %>
  </p>

  <p>
    <strong>Packaging tags:</strong>
    <%= product.packaging_tags %>
  </p>

  <p>
    <strong>Brands:</strong>
    <%= product.brands %>
  </p>

  <p>
    <strong>Brands tags:</strong>
    <%= product.brands_tags %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= product.categories %>
  </p>

  <p>
    <strong>Categories tags:</strong>
    <%= product.categories_tags %>
  </p>

  <p>
    <strong>Categories fr:</strong>
    <%= product.categories_fr %>
  </p>

  <p>
    <strong>Origins:</strong>
    <%= product.origins %>
  </p>

  <p>
    <strong>Origins tags:</strong>
    <%= product.origins_tags %>
  </p>

  <p>
    <strong>Manufacturing places:</strong>
    <%= product.manufacturing_places %>
  </p>

  <p>
    <strong>Manufacturing places tags:</strong>
    <%= product.manufacturing_places_tags %>
  </p>

  <p>
    <strong>Labels:</strong>
    <%= product.labels %>
  </p>

  <p>
    <strong>Labels tags:</strong>
    <%= product.labels_tags %>
  </p>

  <p>
    <strong>Labels fr:</strong>
    <%= product.labels_fr %>
  </p>

  <p>
    <strong>Emb codes:</strong>
    <%= product.emb_codes %>
  </p>

  <p>
    <strong>Emb codes tags:</strong>
    <%= product.emb_codes_tags %>
  </p>

  <p>
    <strong>First packaging code geo:</strong>
    <%= product.first_packaging_code_geo %>
  </p>

  <p>
    <strong>Cities:</strong>
    <%= product.cities %>
  </p>

  <p>
    <strong>Cities tags:</strong>
    <%= product.cities_tags %>
  </p>

  <p>
    <strong>Purchase places:</strong>
    <%= product.purchase_places %>
  </p>

  <p>
    <strong>Stores:</strong>
    <%= product.stores %>
  </p>

  <p>
    <strong>Countries:</strong>
    <%= product.countries %>
  </p>

  <p>
    <strong>Countries tags:</strong>
    <%= product.countries_tags %>
  </p>

  <p>
    <strong>Countries fr:</strong>
    <%= product.countries_fr %>
  </p>

  <p>
    <strong>Ingredients text:</strong>
    <%= product.ingredients_text %>
  </p>

  <p>
    <strong>Traces:</strong>
    <%= product.traces %>
  </p>

  <p>
    <strong>Traces tags:</strong>
    <%= product.traces_tags %>
  </p>

  <p>
    <strong>Serving size:</strong>
    <%= product.serving_size %>
  </p>

  <p>
    <strong>No nutriments:</strong>
    <%= product.no_nutriments %>
  </p>

  <p>
    <strong>Additives n:</strong>
    <%= product.additives_n %>
  </p>

  <p>
    <strong>Additives:</strong>
    <%= product.additives %>
  </p>

  <p>
    <strong>Additives tags:</strong>
    <%= product.additives_tags %>
  </p>

  <p>
    <strong>Ingredients from palm oil n:</strong>
    <%= product.ingredients_from_palm_oil_n %>
  </p>

  <p>
    <strong>Ingredients from palm oil:</strong>
    <%= product.ingredients_from_palm_oil %>
  </p>

  <p>
    <strong>Ingredients from palm oil tags:</strong>
    <%= product.ingredients_from_palm_oil_tags %>
  </p>

  <p>
    <strong>Ingredients that may be from palm oil n:</strong>
    <%= product.ingredients_that_may_be_from_palm_oil_n %>
  </p>

  <p>
    <strong>Ingredients that may be from palm oil:</strong>
    <%= product.ingredients_that_may_be_from_palm_oil %>
  </p>

  <p>
    <strong>Ingredients that may be from palm oil tags:</strong>
    <%= product.ingredients_that_may_be_from_palm_oil_tags %>
  </p>

  <p>
    <strong>Nutrition grade fr:</strong>
    <%= product.nutrition_grade_fr %>
  </p>

  <p>
    <strong>Main category:</strong>
    <%= product.main_category %>
  </p>

  <p>
    <strong>Main category fr:</strong>
    <%= product.main_category_fr %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <p>
    <strong>Image small url:</strong>
    <%= product.image_small_url %>
  </p>

  <p>
    <strong>Energy 100g:</strong>
    <%= product.energy_100g %>
  </p>

  <p>
    <strong>Energy kj 100g:</strong>
    <%= product.energy_kj_100g %>
  </p>

  <p>
    <strong>Energy kcal 100g:</strong>
    <%= product.energy_kcal_100g %>
  </p>

  <p>
    <strong>Proteins 100g:</strong>
    <%= product.proteins_100g %>
  </p>

  <p>
    <strong>Casein 100g:</strong>
    <%= product.casein_100g %>
  </p>

  <p>
    <strong>Serum proteins 100g:</strong>
    <%= product.serum_proteins_100g %>
  </p>

  <p>
    <strong>Nucleotides 100g:</strong>
    <%= product.nucleotides_100g %>
  </p>

  <p>
    <strong>Carbohydrates 100g:</strong>
    <%= product.carbohydrates_100g %>
  </p>

  <p>
    <strong>Sugars 100g:</strong>
    <%= product.sugars_100g %>
  </p>

  <p>
    <strong>Sucrose 100g:</strong>
    <%= product.sucrose_100g %>
  </p>

  <p>
    <strong>Glucose 100g:</strong>
    <%= product.glucose_100g %>
  </p>

  <p>
    <strong>Fructose 100g:</strong>
    <%= product.fructose_100g %>
  </p>

  <p>
    <strong>Lactose 100g:</strong>
    <%= product.lactose_100g %>
  </p>

  <p>
    <strong>Maltose 100g:</strong>
    <%= product.maltose_100g %>
  </p>

  <p>
    <strong>Maltodextrins 100g:</strong>
    <%= product.maltodextrins_100g %>
  </p>

  <p>
    <strong>Starch 100g:</strong>
    <%= product.starch_100g %>
  </p>

  <p>
    <strong>Polyols 100g:</strong>
    <%= product.polyols_100g %>
  </p>

  <p>
    <strong>Fat 100g:</strong>
    <%= product.fat_100g %>
  </p>

  <p>
    <strong>Saturated fat 100g:</strong>
    <%= product.saturated_fat_100g %>
  </p>

  <p>
    <strong>Butyric acid 100g:</strong>
    <%= product.butyric_acid_100g %>
  </p>

  <p>
    <strong>Caproic acid 100g:</strong>
    <%= product.caproic_acid_100g %>
  </p>

  <p>
    <strong>Caprylic acid 100g:</strong>
    <%= product.caprylic_acid_100g %>
  </p>

  <p>
    <strong>Capric acid 100g:</strong>
    <%= product.capric_acid_100g %>
  </p>

  <p>
    <strong>Lauric acid 100g:</strong>
    <%= product.lauric_acid_100g %>
  </p>

  <p>
    <strong>Myristic acid 100g:</strong>
    <%= product.myristic_acid_100g %>
  </p>

  <p>
    <strong>Palmitic acid 100g:</strong>
    <%= product.palmitic_acid_100g %>
  </p>

  <p>
    <strong>Stearic acid 100g:</strong>
    <%= product.stearic_acid_100g %>
  </p>

  <p>
    <strong>Arachidic acid 100g:</strong>
    <%= product.arachidic_acid_100g %>
  </p>

  <p>
    <strong>Behenic acid 100g:</strong>
    <%= product.behenic_acid_100g %>
  </p>

  <p>
    <strong>Lignoceric acid 100g:</strong>
    <%= product.lignoceric_acid_100g %>
  </p>

  <p>
    <strong>Cerotic acid 100g:</strong>
    <%= product.cerotic_acid_100g %>
  </p>

  <p>
    <strong>Montanic acid 100g:</strong>
    <%= product.montanic_acid_100g %>
  </p>

  <p>
    <strong>Melissic acid 100g:</strong>
    <%= product.melissic_acid_100g %>
  </p>

  <p>
    <strong>Monounsaturated fat 100g:</strong>
    <%= product.monounsaturated_fat_100g %>
  </p>

  <p>
    <strong>Polyunsaturated fat 100g:</strong>
    <%= product.polyunsaturated_fat_100g %>
  </p>

  <p>
    <strong>Omega 3 fat 100g:</strong>
    <%= product.omega_3_fat_100g %>
  </p>

  <p>
    <strong>Alpha linolenic acid 100g:</strong>
    <%= product.alpha_linolenic_acid_100g %>
  </p>

  <p>
    <strong>Eicosapentaenoic acid 100g:</strong>
    <%= product.eicosapentaenoic_acid_100g %>
  </p>

  <p>
    <strong>Docosahexaenoic acid 100g:</strong>
    <%= product.docosahexaenoic_acid_100g %>
  </p>

  <p>
    <strong>Omega 6 fat 100g:</strong>
    <%= product.omega_6_fat_100g %>
  </p>

  <p>
    <strong>Linoleic acid 100g:</strong>
    <%= product.linoleic_acid_100g %>
  </p>

  <p>
    <strong>Arachidonic acid 100g:</strong>
    <%= product.arachidonic_acid_100g %>
  </p>

  <p>
    <strong>Gamma linolenic acid 100g:</strong>
    <%= product.gamma_linolenic_acid_100g %>
  </p>

  <p>
    <strong>Dihomo gamma linolenic acid 100g:</strong>
    <%= product.dihomo_gamma_linolenic_acid_100g %>
  </p>

  <p>
    <strong>Omega 9 fat 100g:</strong>
    <%= product.omega_9_fat_100g %>
  </p>

  <p>
    <strong>Oleic acid 100g:</strong>
    <%= product.oleic_acid_100g %>
  </p>

  <p>
    <strong>Elaidic acid 100g:</strong>
    <%= product.elaidic_acid_100g %>
  </p>

  <p>
    <strong>Gondoic acid 100g:</strong>
    <%= product.gondoic_acid_100g %>
  </p>

  <p>
    <strong>Mead acid 100g:</strong>
    <%= product.mead_acid_100g %>
  </p>

  <p>
    <strong>Erucic acid 100g:</strong>
    <%= product.erucic_acid_100g %>
  </p>

  <p>
    <strong>Nervonic acid 100g:</strong>
    <%= product.nervonic_acid_100g %>
  </p>

  <p>
    <strong>Trans fat 100g:</strong>
    <%= product.trans_fat_100g %>
  </p>

  <p>
    <strong>Cholesterol 100g:</strong>
    <%= product.cholesterol_100g %>
  </p>

  <p>
    <strong>Fiber 100g:</strong>
    <%= product.fiber_100g %>
  </p>

  <p>
    <strong>Sodium 100g:</strong>
    <%= product.sodium_100g %>
  </p>

  <p>
    <strong>Alcohol 100g:</strong>
    <%= product.alcohol_100g %>
  </p>

  <p>
    <strong>Vitamin a 100g:</strong>
    <%= product.vitamin_a_100g %>
  </p>

  <p>
    <strong>Vitamin d 100g:</strong>
    <%= product.vitamin_d_100g %>
  </p>

  <p>
    <strong>Vitamin e 100g:</strong>
    <%= product.vitamin_e_100g %>
  </p>

  <p>
    <strong>Vitamin k 100g:</strong>
    <%= product.vitamin_k_100g %>
  </p>

  <p>
    <strong>Vitamin c 100g:</strong>
    <%= product.vitamin_c_100g %>
  </p>

  <p>
    <strong>Vitamin b1 100g:</strong>
    <%= product.vitamin_b1_100g %>
  </p>

  <p>
    <strong>Vitamin b2 100g:</strong>
    <%= product.vitamin_b2_100g %>
  </p>

  <p>
    <strong>Vitamin pp 100g:</strong>
    <%= product.vitamin_pp_100g %>
  </p>

  <p>
    <strong>Vitamin b6 100g:</strong>
    <%= product.vitamin_b6_100g %>
  </p>

  <p>
    <strong>Vitamin b9 100g:</strong>
    <%= product.vitamin_b9_100g %>
  </p>

  <p>
    <strong>Vitamin b12 100g:</strong>
    <%= product.vitamin_b12_100g %>
  </p>

  <p>
    <strong>Biotin 100g:</strong>
    <%= product.biotin_100g %>
  </p>

  <p>
    <strong>Pantothenic acid 100g:</strong>
    <%= product.pantothenic_acid_100g %>
  </p>

  <p>
    <strong>Silica 100g:</strong>
    <%= product.silica_100g %>
  </p>

  <p>
    <strong>Bicarbonate 100g:</strong>
    <%= product.bicarbonate_100g %>
  </p>

  <p>
    <strong>Potassium 100g:</strong>
    <%= product.potassium_100g %>
  </p>

  <p>
    <strong>Chloride 100g:</strong>
    <%= product.chloride_100g %>
  </p>

  <p>
    <strong>Calcium 100g:</strong>
    <%= product.calcium_100g %>
  </p>

  <p>
    <strong>Phosphorus 100g:</strong>
    <%= product.phosphorus_100g %>
  </p>

  <p>
    <strong>Iron 100g:</strong>
    <%= product.iron_100g %>
  </p>

  <p>
    <strong>Magnesium 100g:</strong>
    <%= product.magnesium_100g %>
  </p>

  <p>
    <strong>Zinc 100g:</strong>
    <%= product.zinc_100g %>
  </p>

  <p>
    <strong>Copper 100g:</strong>
    <%= product.copper_100g %>
  </p>

  <p>
    <strong>Manganese 100g:</strong>
    <%= product.manganese_100g %>
  </p>

  <p>
    <strong>Fluoride 100g:</strong>
    <%= product.fluoride_100g %>
  </p>

  <p>
    <strong>Selenium 100g:</strong>
    <%= product.selenium_100g %>
  </p>

  <p>
    <strong>Chromium 100g:</strong>
    <%= product.chromium_100g %>
  </p>

  <p>
    <strong>Molybdenum 100g:</strong>
    <%= product.molybdenum_100g %>
  </p>

  <p>
    <strong>Iodine 100g:</strong>
    <%= product.iodine_100g %>
  </p>

  <p>
    <strong>Caffeine 100g:</strong>
    <%= product.caffeine_100g %>
  </p>

  <p>
    <strong>Taurine 100g:</strong>
    <%= product.taurine_100g %>
  </p>

  <p>
    <strong>Ph 100g:</strong>
    <%= product.ph_100g %>
  </p>

  <p>
    <strong>Fruits vegetables nuts 100g:</strong>
    <%= product.fruits_vegetables_nuts_100g %>
  </p>

  <p>
    <strong>Carbon footprint 100g:</strong>
    <%= product.carbon_footprint_100g %>
  </p>

  <p>
    <strong>Nutrition score fr 100g:</strong>
    <%= product.nutrition_score_fr_100g %>
  </p>

  <p>
    <strong>Nutrition score uk 100g:</strong>
    <%= product.nutrition_score_uk_100g %>
  </p>

</div>
